.click {
  text-decoration: none;
  text-shadow: 5px 5px 5px #000000;
  color: #eaff79;
}
.click:hover {
  color: #ffa3ff;
  text-shadow: 5px 5px 5px #000000;
}
.sur-text {
    text-shadow: 5px 5px 5px #000000;
    color: white;
}
/* .bg {
  height: 100vh;
  width: 100%;
  animation: blink 25s linear infinite;
  -webkit-animation: blink 25s linear infinite;
}

@keyframes blink {
  0% {
    background: violet;
  }
  14.3% {
    background: indigo;
  }
  28.6% {
    background: blue;
  }
  42.9% {
    background: green;
  }
  57.2% {
    background: rgb(255, 255, 104);
  }
  71.5% {
    background: rgb(255, 190, 70);
  }
  85.8% {
    background: rgb(255, 92, 92);
  }
  100% {
    background: violet;
  }
} */
